.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 560px;
  margin-left: 5px;
}

.layout {
  display: flex;
  flex-direction: column;
  display: flex;
  min-width: 500px;
  margin-right: 5px;
  gap: 20px;
  /* padding-left: 40px; */
}
.lowerdeck {
  display: flex;
  border: 2px solid #9e9d9d;
  flex-direction: column;
}

.lowerdeck .group {
  display: flex;
  flex: content;
  flex-direction: column;
  padding: 10px;
  margin-left: 60px;
  justify-content: space-between;
}
.lowerdeck .row1 {
  display: flex;
}
.lowerdeck .row2 {
  display: flex;
}

.lowerdeck .row3 {
  display: flex;
  gap: 22px;
  padding: 5px;
  margin-top: 30px;
}

.upperdeck {
  display: flex;
  border: 2px solid #9e9d9d;
  flex-direction: column;
}

.upperdeck .group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-left: 60px;
  justify-content: space-between;
}

.upperdeck .row1 {
  display: flex;
  gap: 22px;
  padding: 5px;
}

.upperdeck .row2 {
  display: flex;
  gap: 22px;
  padding: 5px;
}

.upperdeck .row3 {
  display: flex;
  gap: 22px;
  padding: 5px;
  margin-top: 30px;
}
